@import url(loader.css);

body {
    padding-left: calc(1%);
    padding-right: calc(1%);
    margin: calc(1%);
}

img {
    display: block;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
}

.container img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.0rem;
    width: 100%;
}
