.loader {
    height: 3px;
    margin: 0px auto 0;
    overflow: hidden;
    width: 100%;
    top: 0px;
}

.loader::before, .loader::after {
    background: rgba(255, 140, 0, 0.5);
    content: '';
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(-100%, 0, 0);
    width: 50%;
}

.loader::before {
    animation: loader 2s infinite;
}

.loader::after {
    animation: loader 2s -1s infinite;
}

@keyframes loader {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(200%, 0, 0);
    }
}
