.loader {
    width: 100px;
    position: absolute;
    top: 2%;
    left: 50%;
    margin: 1em;
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
}
.loader .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 0px;
    background: #66b7ff;
    -moz-animation: sway 0.35s ease infinite;
    -webkit-animation: sway 0.35s ease infinite;
    animation: sway 0.35s ease infinite;
}
.loader .dot:nth-child(1) {
    left: 14.28571%;
    -moz-animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.loader .dot:nth-child(2) {
    left: 28.57143%;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.loader .dot:nth-child(3) {
    left: 42.85714%;
    -moz-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}
.loader .dot:nth-child(4) {
    left: 57.14286%;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.loader .dot:nth-child(5) {
    left: 71.42857%;
    -moz-animation-delay: 1.25s;
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}
.loader .dot:nth-child(6) {
    left: 85.71429%;
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.loader .dot:nth-child(7) {
    left: 100%;
    -moz-animation-delay: 1.75s;
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}
.loader .dotb {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 0px;
    background: #66b7ff;
    -moz-animation: swayb 0.35s ease infinite 3s, reset 1s ease forwards 5s;
    -webkit-animation: swayb 0.35s ease infinite 3s, reset 1s ease forwards 5s;
    animation: swayb 0.35s ease infinite 3s, reset 1s ease forwards 5s;
}
.loader .dotb:nth-child(1) {
    left: 14.28571%;
    -moz-animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.loader .dotb:nth-child(2) {
    left: 28.57143%;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.loader .dotb:nth-child(3) {
    left: 42.85714%;
    -moz-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}
.loader .dotb:nth-child(4) {
    left: 57.14286%;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.loader .dotb:nth-child(5) {
    left: 71.42857%;
    -moz-animation-delay: 1.25s;
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}
.loader .dotb:nth-child(6) {
    left: 85.71429%;
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.loader .dotb:nth-child(7) {
    left: 100%;
    -moz-animation-delay: 1.75s;
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}

@-moz-keyframes sway {
    from {
        top: 0px;
    }
    to {
        top: 40px;
        -moz-transform: scale(0.75);
        transform: scale(0.75);
        z-index: 1;
        opacity: 0;
    }
}
@-webkit-keyframes sway {
    from {
        top: 0px;
    }
    to {
        top: 40px;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
        z-index: 1;
        opacity: 0;
    }
}
@keyframes sway {
    from {
        top: 0px;
    }
    to {
        top: 40px;
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
        z-index: 1;
        opacity: 0;
    }
}
@-moz-keyframes swayb {
    from {
        top: 40px;
        -moz-transform: scale(0.75);
        transform: scale(0.75);
        z-index: 2;
    }
    to {
        top: 0px;
    }
}
@-webkit-keyframes swayb {
    from {
        top: 40px;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
        z-index: 2;
    }
    to {
        top: 0px;
    }
}
@keyframes swayb {
    from {
        top: 40px;
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
        z-index: 2;
    }
    to {
        top: 0px;
    }
}
@-moz-keyframes reset {
    from {
        top: 0px;
    }
    to {
        top: 0px;
    }
}
@-webkit-keyframes reset {
    from {
        top: 0px;
    }
    to {
        top: 0px;
    }
}
@keyframes reset {
    from {
        top: 0px;
    }
    to {
        top: 0px;
    }
}